<header class="bg-info">
  <nav class="navbar navbar-expand-sm navbar-light sticky-top">
  <a class="navbar-brand" href="/">InstaClone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-menu">
      <ul class="navbar-nav mr-auto"></ul>
      <div class="">
        <button class="btn btn-dark"  type="button" data-toggle="modal" data-target="#addPostModal">Add Post</button>
      </div>
    </div>
  </nav>
</header>
